body {
    font-family: Arial, sans-serif;
}

.login-signup-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container form {
    display: none; /* Hide forms by default */
}

.form-container form:target {
    display: block; /* Show form when its ID is in the fragment identifier */
}

.form-container h2 {
    color: #333;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #4cae4c;
}

.form-container p {
    text-align: center;
}

.form-container a {
    color: #5cb85c;
    text-decoration: none;
}
