.c-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #fff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.contact-info_page {
    flex: 1;
    margin-right: 50px;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: hsl(221, 64%, 24%);
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-info,
    .contact-form {
        width: 100%;
        margin: 0;
    }
}
