body {
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  background: #f7f7f7;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 100%;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-container .form-group {
  margin-bottom: 1rem;
}

.form-container .form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-container .btn-primary {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container .btn-primary:hover {
  background-color: #0056b3;
}

.form-container p {
  text-align: center;
  font-size: 14px;
}

.form-container p a {
  color: #007bff;
  text-decoration: none;
}

.form-container p a:hover {
  text-decoration: underline;
}

.text-danger {
  color: #dc3545;
  font-size: 0.875em;
}
