.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="number"],
.form-group select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 80%;
}

.button:hover {
    background-color: #0056b3;
}

table {
    margin-top: 20px;
    background-color: #f9f9f9;
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    margin-left: 0;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2}


th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}


tr:hover {background-color: #ddd;}

td {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}
  
th:first-child, td:first-child {
  width: 40%;
}

th:not(:first-child), td:not(:first-child) {
  width: 20%;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover {background-color: #ddd;}

@media (max-width: 768px) {
    
}


.legend {
    list-style: none;
    padding: 0;
}

.legend li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.legend .color-box {
  
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.form_cont {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 20px auto;
  margin-top: 5em;
}

.input_text {
  width: 50%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.priority_input {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#categories div {
  margin-bottom: 10px;
}

.button_remove {
  background-color: #ff6347;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.button_remove:hover {
  background-color: #d9534f;
}

#recommendations-section{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 20px auto;
}

.feedback{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 20px auto;
}

.content-wrap{
  width: 100%;
  margin: 0;
}

.input_percentage{
  width: 5em;
}