{% extends "base.html" %}
{% block title %}WalletBuddyAI.com{% endblock %}
{% block links %}
<!-- <link rel="stylesheet" href="static/css/index.css"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
{% endblock %}
{% block content %}

    <h1>WalletBuddyAI.com</h1>
    <img src="https://unsplash.com/photos/tvPvROBv0F4/download?ixid=M3w1Mjk3MTB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDU5NjQwMjl8" alt="Bakery Image" style="width: 100%; height: auto;">
    <br>
    <section>
        <h1>Welcome to WalletBuddyAI.com</h1>
        <p>Your innovative AI-powered assistant in navigating the complex world of personal finance. Whether you're looking to manage your daily expenses or make informed investment decisions, WalletBuddyAI.com is here to guide you every step of the way.</p>
        <h2>Our Mission</h2>
        <p>At WalletBuddyAI.com, we believe in empowering individuals with the tools and insights they need to achieve financial stability and growth. Our cutting-edge AI technology simplifies financial management and investment processes, making them accessible to everyone.</p>
        <h2>How It Works</h2>
        <p>Our platform offers a range of features from budget tracking and expense management to insightful investment advice. With just a few clicks, you can gain a comprehensive understanding of your financial health and receive personalized recommendations tailored to your financial goals.</p>
        <h1>Stock and Crypto Prediction Page</h1>
        <h2>AI-Powered Predictions at Your Fingertips</h2>
        <p>Enter the name of any stock or cryptocurrency, and our AI will analyze current trends to predict future price movements. Get instant insights to help guide your investment decisions.</p>
        <h2>Making Informed Decisions</h2>
        <p>Our predictions are based on sophisticated algorithms and market analysis, giving you an edge in the ever-changing world of stocks and crypto.</p>
    </section>

{% endblock %}