{% extends "base.html" %}
{% block title %}WalletBuddyAI.com{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}
{% block content %}

<div class="account-container">
    <div class="user-info">
        <div class="user-icon">
            <!-- Icon or image goes here -->
        </div>
        <h2>Welcome, {{ user.Name }}!</h2>
        <p>Email: {{ user.Email }}</p>
    </div>

    <hr class="separator">

    <div class="links-grid">
        <div class="link-item">
            <h3>Income</h3>
            <hr class="dotted">
            <p>${{ total_income }}</p>
            <a href="{{ url_for('edit_income') }}">More</a>
        </div>
        <div class="link-item">
            <h3>Savings</h3>
            <hr class="dotted">
            <p>${{ total_saving }}</p>
            <a href="{{ url_for('edit_saving') }}">More</a>
        </div>
        <div class="link-item">
            <h3>Expenses</h3>
            <hr class="dotted">
            <p>${{ total_expenses }}</p>
            <a href="{{ url_for('edit_expenses') }}">More</a>
        </div>
        <div class="link-item">
            <h3>Loans</h3>
            <hr class="dotted">
            <p>Lent ${{ total_lent }}</p>
            <p>Borrowed ${{ total_borrowed }}</p>
            
            <a href="{{ url_for('loans') }}">More</a>
        </div>
    </div>

    <!-- Include other sections as necessary -->
</div>

{% endblock %}
