{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_subscription.css') }}">
{% endblock %}
{% block content %}
    <h1>Add New Outcome</h1>
    <form method="post" action="{{ url_for('add_outcome') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.cost.label }}<br>
            {{ form.cost(min="0") }}<br>
            {% for error in form.cost.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.day.label }}<br>
            {{ form.day(min="1", max="31") }}<br>
            {% for error in form.day.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
            {% for error in form.type.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <button type="submit">Add Outcome</button>
    </form>
{% endblock %}