<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='images/icon.png') }}">
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
<div class="page-container">
    <!--=============== HEADER ===============-->
<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="home" class="nav__logo">
                <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon" class="nav__icon">
                WalletBuddyAI
            </a>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>
        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
            <li><a href="{{url_for('home')}}" class="nav__link">Company</a></li>
            <!--=============== DROPDOWN 1 ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Finances <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li>
                            <a href="{{ url_for('edit_income') }}" class="dropdown__link">
                            <i class="ri-pie-chart-line"></i> Income
                            </a>                          
                        </li>
                    
                        <li>
                            <a href="{{ url_for('edit_saving') }}" class="dropdown__link">
                            <i class="ri-pie-chart-line"></i> Savings
                            </a>
                        </li>
                    
                        <li>
                            <a href="{{ url_for('edit_expenses') }}" class="dropdown__link">
                            <i class="ri-pie-chart-line"></i> Expenses
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('loans') }}" class="dropdown__link">
                            <i class="ri-pie-chart-line"></i> Loans
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('recommendations')}}" class="dropdown__link">
                            <i class="ri-pie-chart-line"></i> Recommendations
                            </a>
                        </li>
                        
                        
                        <!--=============== DROPDOWN SUBMENU ===============-->
                        <!-- <li class="dropdown__subitem">
                            <div class="dropdown__link">
                            <i class="ri-bar-chart-line"></i> Edit <i class="ri-add-line dropdown__add"></i>
                            </div>

                            <ul class="dropdown__submenu">
                            <li>
                                <a href="{{url_for('edit_income')}}" class="dropdown__sublink">
                                <i class="ri-file-list-line"></i> Edit Income
                                </a>
                            </li>
      
                            <li>
                                <a href="{{url_for('edit_saving')}}" class="dropdown__sublink">
                                <i class="ri-cash-line"></i> Edit Savings
                                </a>
                            </li>
      
                            <li>
                                <a href="{{url_for('edit_expenses')}}" class="dropdown__sublink">
                                <i class="ri-refund-2-line"></i> Edit Expenses
                                </a>
                            </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>
                  
                <li><a href="{{url_for('view_finances')}}" class="nav__link">View Finances</a></li>

                <!--=============== DROPDOWN 2 ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Predictions <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li>
                            <a href="stock_crypto_prediction" class="dropdown__link">
                            <i class="ri-user-line"></i> Stock Crypto Prediction
                            </a>
                        </li>

                        <li>
                            <a href="stock_crypto_prediction" class="dropdown__link">
                            <i class="ri-lock-line"></i> Stock Crypto Prediction
                            </a>
                        </li>

                    </ul>
                </li>

                <li><a href="{{url_for('contact')}}" class="nav__link">Contact</a></li>
                
                {% if 'user_id' in session %}
                <li>
                    <a href="{{ url_for('logout') }}" class="nav__link">Log Out</a>
                </li>
                <li>
                    <a href="{{url_for('account')}}" class="nav__link">Profile</a>
                </li>
                {% else %}
                <li>
                    <!-- <a href="{{ url_for('logout') }}">Log Out</a> -->
                    <a href="{{url_for('login')}}" class="nav__link">Log In/Sign Up</a>
                </li>    <!-- <a href="{{ url_for('login') }}">Log In/Sign Up</a> -->
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="content-wrap">{% block content %}{% endblock %}</div>

<div class="footer">
    <div class="footer-content">
        <div class="footer-section quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section contact-info">
            <h3>Contact Information</h3>
            <ul>
                <li>Phone: 123-456-7890</li>
                <li>Email: info@example.com</li>
            </ul>
        </div>
        <div class="footer-section social-media">
            <h3>Follow us</h3>
            <!-- Add icons for social media with links -->
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Personal Finance Advisor | Disclaimer</p>
    </div>
</div>
</div>
    <!--=============== MAIN JS ===============-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>