{% extends "base.html" %}
{% block title %}WalletBuddyAI.com{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
    <div class="chat-container">
        <div id="chatbox">
            <p class="botText"><span>Loading your personal assistant...</span></p>
        </div>
        <input type="text" id="userInput" placeholder="Type a message..." autocomplete="off">
        <button id="sendBtn">Send</button>
    </div>

    <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
{% endblock %}