{% extends "base.html" %}
{% block title %}WalletBuddyAI.com{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact_us.css') }}">
{% endblock %}
{% block content %}
<div class="c-container">
    <div class="contact-container">
        <!-- Contact Info -->
        <div class="contact-info_page">
            <h2>Contact us</h2>
            <p>Need to get in touch with us? Fill out the form and click on the <strong>Submit</strong> button.</p>
            <!-- Add any more contact information or social media links here -->
        </div>

        <!-- Contact Form -->
        <div class="contact-form">
            <form id="contact-form" method="post" action="{{ url_for('contact') }}">
                {{ form.csrf_token }}
                <div>
                    {{ form.message.label }}<br>
                    {{ form.message }}<br>
                    {% for error in form.message.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
