{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="static/css/edit.css">
{% endblock %}
{% block content %}
<div class="edit-container">
    <div class="form-side">
    <h1>Edit Saving</h1>
    <form method="post" action="{{ url_for('edit_saving') }}">
        <label for="emergency">Emergency:</label>
        <input type="number" min="0" id="emergency" name="emergency" value="{{ saving.Emergency }}" required>
        <label for="retirement">Retirement:</label>
        <input type="number" min="0" id="retirement" name="retirement" value="{{ saving.Retirement }}" required>
        <label for="education">Education:</label>
        <input type="number" min="0" id="education" name="education" value="{{ saving.Education }}" required>
        <label for="goalSpecific">Goal Specific:</label>
        <input type="number" min="0" id="goalSpecific" name="goalSpecific" value="{{ saving.GoalSpecific }}" required>
        <label for="health">Health:</label>
        <input type="number" min="0" id="health" name="health" value="{{ saving.Health }}" required>
        <label for="other">Other:</label>
        <input type="number" min="0" id="other" name="other" value="{{ saving.Other }}" required>
        <button type="submit">Update</button>
    </form>
    </div>
    <div class="total-sum">
        <h2 class="total">Total Income: {{ total_sum }}</h2>
    </div>
    <div class="chart-side">
        <div class="chart-placeholder">
            <img src="data:image/png;base64,{{ chart_url }}" alt="Income Pie Chart" />
        </div>
        <div class="chart-legend">
            <ul>
                <li><span class="color-box" style="background-color: #4e79a7;"></span> Emergency</li>
                <li><span class="color-box" style="background-color: #f28e2b;"></span> Retirement</li>
                <li><span class="color-box" style="background-color: #e15759;"></span> Education</li>
                <li><span class="color-box" style="background-color: #76b7b2;"></span> Goal Specific</li>
                <li><span class="color-box" style="background-color: #59a14f;"></span> Health</li>
                <li><span class="color-box" style="background-color: #edc948;"></span> Others</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
