{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_subscription.css') }}">
{% endblock %}
{% block content %}
    <h1>Edit Subscription</h1>
    <form method="post">
        {{ form.csrf_token }}
        <label for="name">Name:</label>
        {{ form.name(class="form-control", id="name") }}<br>
        <label for="cost">Cost:</label>
        {{ form.cost(class="form-control", id="cost") }}<br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
