{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="static/css/edit.css">
{% endblock %}
{% block content %}
<div class="edit-container">
    <div class="form-side">
    <h1>Edit Income</h1>
    <form method="post" action="{{ url_for('edit_income') }}">
        <label for="salary">Salary:</label>
        <input type="number" min="0" id="salary" name="salary" value="{{ income.Salary }}" required>
        <label for="bonuses">Bonuses:</label>
        <input type="number" min="0" id="bonuses" name="bonuses" value="{{ income.Bonuses }}" required>
        <label for="investment">Investment:</label>
        <input type="number" min="0" id="investment" name="investment" value="{{ income.Investment }}" required>
        <label for="passive_income">Passive Income:</label>
        <input type="number" min="0" id="passive_income" name="passive_income" value="{{ income.PassiveIncome }}" required>
        <label for="other">Other:</label>
        <input type="number" min="0" id="other" name="other" value="{{ income.Other }}" required>
        <button type="submit">Update</button>
    </form>
    </div>
    <div class="total-sum">
        <h2 class="total">Total Income: {{ total_sum }}</h2>
    </div>
    <div class="chart-side">
        <div class="chart-placeholder">
            <img src="data:image/png;base64,{{ chart_url }}" alt="Income Pie Chart" />
        </div>
        <div class="chart-legend">
            <ul>
                <li><span class="color-box" style="background-color: #4e79a7;"></span> Salary</li>
                <li><span class="color-box" style="background-color: #f28e2b;"></span> Bonuses</li>
                <li><span class="color-box" style="background-color: #59a14f;"></span> Investment</li>
                <li><span class="color-box" style="background-color: #e15759;"></span> Passive Income</li>
                <li><span class="color-box" style="background-color: #edc948;"></span> Others</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
