{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}
{% block content %}
<div class="edit-container">
    <div class="form-side">
    <h1>Edit Saving</h1>
    <form method="post">
        {{ form.csrf_token }}
        <label for="emergency">Emergency:</label>
        {{ form.emergency(class="form-control", id="emergency") }}<br>
        <label for="retirement">Retirement:</label>
        {{ form.retirement(class="form-control", id="retirement") }}<br>
        <label for="education">Education:</label>
        {{ form.education(class="form-control", id="education") }}<br>
        <label for="goal_specific">Goal Specific:</label>
        {{ form.goal_specific(class="form-control", id="goal_specific") }}<br>
        <label for="health">Health:</label>
        {{ form.health(class="form-control", id="health") }}<br>
        <label for="investment">Investment:</label>
        {{ form.investment(class="form-control", id="investment") }}<br>
        <label for="other">Other:</label>
        {{ form.other(class="form-control", id="other") }}<br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
    <div class="total-sum">
        <h2 class="total">Total Savings: {{ total_sum }}</h2>
    </div>
    <div class="chart-side">
        <div class="chart-placeholder">
            <img src="data:image/png;base64,{{ chart_url }}" alt="Savings Pie Chart" />
        </div>
        <div class="chart-legend">
            <ul>
                <li><span class="color-box" style="background-color: #4e79a7;"></span> Emergency</li>
                <li><span class="color-box" style="background-color: #f28e2b;"></span> Retirement</li>
                <li><span class="color-box" style="background-color: #e15759;"></span> Education</li>
                <li><span class="color-box" style="background-color: #76b7b2;"></span> Goal Specific</li>
                <li><span class="color-box" style="background-color: #59a14f;"></span> Health</li>
                <li><span class="color-box" style="background-color: #ff5454;"></span> Investment</li>
                <li><span class="color-box" style="background-color: #edc948;"></span> Others</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
