{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}
{% block content %}
<div class="edit-container">
    <div class="form-side">
    <h1>Edit Income</h1>
    <form method="post">
        {{ form.csrf_token }}
        <label for="salary">Salary:</label>
        {{ form.salary(class="form-control", id="salary") }}<br>
        <label for="bonuses">Bonuses:</label>
        {{ form.bonuses(class="form-control", id="bonuses") }}<br>
        <label for="investment">Investment:</label>
        {{ form.investment(class="form-control", id="investment") }}<br>
        <label for="passive_income">Passive Income:</label>
        {{ form.passive_income(class="form-control", id="passive_income") }}<br>
        <label for="other">Other:</label>
        {{ form.other(class="form-control", id="other") }}<br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
    <div class="total-sum">
        <h2 class="total">Total Income: {{ total_sum }}</h2>
    </div>
    <div class="chart-side">
        <div class="chart-placeholder">
            <img src="data:image/png;base64,{{ chart_url }}" alt="Income Pie Chart" />
        </div>
        <div class="chart-legend">
            <ul>
                <li><span class="color-box" style="background-color: #4e79a7;"></span> Salary</li>
                <li><span class="color-box" style="background-color: #f28e2b;"></span> Bonuses</li>
                <li><span class="color-box" style="background-color: #59a14f;"></span> Investment</li>
                <li><span class="color-box" style="background-color: #e15759;"></span> Passive Income</li>
                <li><span class="color-box" style="background-color: #edc948;"></span> Others</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
