{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}
{% block content %}
<div class="edit-container">
    <div class="form-side">
        <h1>Edit Expenses</h1>
        <form method="post" action="{{ url_for('edit_expenses') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <label for="rent">Rent:</label>
            <div class="expense-input">
                <input type="number" min="0" id="rent" name="rent" value="{{ expenses.Rent }}" required>
                <input type="checkbox" id="rent_fulfilled" name="rent_fulfilled" {% if fulfilled.RentFulfilled %} checked {% endif %}>
            </div>
            <label for="transport_pass">Transport Pass:</label>
            <div class="expense-input">
                <input type="number" min="0" id="transport_pass" name="transport_pass" value="{{ expenses.TransportPass }}" required><br>
                <input type="checkbox" id="transport_pass_fulfilled" name="transport_pass_fulfilled" {% if fulfilled.TransportPassFulfilled %} checked {% endif %}>
            </div>
            <label for="education">Education:</label>
            <div class="expense-input">
                <input type="number" min="0" id="education" name="education" value="{{ expenses.Education }}" required><br>
                <input type="checkbox" id="education_fulfilled" name="education_fulfilled" {% if fulfilled.EducationFulfilled %} checked {% endif %}>
            </div>
            <label for="insurance">Insurance:</label>
            <div class="expense-input">
                <input type="number" min="0" id="insurance" name="insurance" value="{{ expenses.Insurance }}" required><br>
                <input type="checkbox" id="insurance_fulfilled" name="insurance_fulfilled" {% if fulfilled.InsuranceFulfilled %} checked {% endif %}>
            </div>
            <label for="other">Other:</label>
            <div class="expense-input">
                <input type="number" min="0" id="other" name="other" value="{{ expenses.Other }}" required><br>
                <input type="checkbox" id="other_fulfilled" name="other_fulfilled" {% if fulfilled.OtherFulfilled %} checked {% endif %}></div>
        
            {{ form.submit }}
        </form>
    </div>
    <div class="total-sum">
        <h2 class="total">Total Income: {{ total_sum }}</h2>
    </div>
    <div class="chart-side">
        <div class="chart-placeholder">
            <img src="data:image/png;base64,{{ chart_url }}" alt="Expenses Pie Chart" />
        </div>
        <div class="chart-legend">
            <ul>
                <li><span class="color-box" style="background-color: #e15759;"></span> Rent </li>
                <li><span class="color-box" style="background-color: #76b7b2;"></span> Transport Pass </li>
                <li><span class="color-box" style="background-color: #e15759;"></span> Education </li>
                <li><span class="color-box" style="background-color: #59a14f;"></span> Insurance </li>
                <li><span class="color-box" style="background-color: #edc948;"></span> Others </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
