{% extends "base.html" %}
{% block title %}Income{% endblock %}
{% block links %}
<!-- <link rel="stylesheet" href="static/css/index.css"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
{% endblock %}
{% block content %}

<div class="container">
    <h1>Record Your Income</h1>
    <form method="post" action="{{ url_for('income') }}">
        <p>
            <label for="salary">Salary/Wages:</label>
            <input type="number" id="salary" name="salary" required>
        </p>
        <p>
            <label for="bonuses">Bonuses/Commissions:</label>
            <input type="number" id="bonuses" name="bonuses" required>
        </p>
        <p>
            <label for="passive">Passive Income:</label>
            <input type="number" id="passive" name="passive" required>
        </p>
        <p>
            <label for="business">Business Income:</label>
            <input type="number" id="business" name="business" required>
        </p>
        <p>
            <label for="investment">Investment Income:</label>
            <input type="number" id="investment" name="investment" required>
        </p>
        <p>
            <label for="other">Others:</label>
            <input type="number" id="other" name="other" required>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

{% endblock %}