{% extends "base.html" %}
{% block title %}WalletBuddyAI.com{% endblock %}
{% block links %}
<link rel="stylesheet" href="static/css/index.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
{% endblock %}
{% block content %}

<div class="container">
    <h1>WalletBuddyAI.com</h1>
    <h1>CHANGE THIS CONTENT</h1>
    <img src="https://unsplash.com/photos/tvPvROBv0F4/download?ixid=M3w1Mjk3MTB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDU5NjQwMjl8" alt="Bakery Image" style="width: 100%; height: auto;">
    <br>
    <section>
        <h1>Money Management Features</h1>
        <h2>Understanding Your Financial Position</h2>
        <p>Our AI-driven system provides a detailed analysis of your financial data, including income, savings, and expenditures. This offers you a clear understanding of your current financial health, helping you make informed decisions.</p>
        <h2>Budgeting and Expense Tracking</h2>
        <p>Effortlessly track your daily expenses and compare them against your budget. Our system not only helps you monitor your spending but also offers personalized advice on how to optimize your budget for better financial health.</p>
        <h2>Debt and Loan Management</h2>
        <p>Manage and strategize your debt repayment with our AI advisor. Input your loan details, and our system will suggest the most efficient repayment plan, helping you reduce your debts faster and more effectively.</p>
    </section>
</div>    

{% endblock %}