{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Loans Overview</h1>
    <a href="{{ url_for('add_loan') }}" class="btn btn-primary">Add Loan</a>
    <br><br>
    <hr>
    <h2>Borrowed Loans</h2>
    <ul>
        {% for loan in borrowed_loans %}
        <li>{{ loan.LenderName }} - Amount: {{ loan.LoanAmount }} <a href="#" onclick="editLoan({{ loan.LoanID }})">Edit</a> | <a href="#" onclick="deleteLoan({{ loan.LoanID }})">Delete</a></li>        {% else %}
        <p>No borrowed loans.</p>
        {% endfor %}
    </ul>
    <hr>
    <h2>Lent Loans</h2>
    <ul>
        {% for loan in lent_loans %}
        <li>{{ loan.LenderName }} - Amount: {{ loan.LoanAmount }} <a href="#" onclick="editLoan({{ loan.LoanID }})">Edit</a> | <a href="#" onclick="deleteLoan({{ loan.LoanID }})">Delete</a></li>        {% else %}
        <p>No lent loans.</p>
        {% endfor %}
    </ul>
</div>
{% block script %}
<script>
function deleteLoan(loanId) {
    if (confirm("Are you sure you want to delete this loan?")) {
        fetch(`/delete_loan/${loanId}`, {
            method: 'POST',
            // CSRF token needed if CSRF protection is enabled in Flask
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                // 'X-CSRFToken': csrf_token // Uncomment and provide your CSRF token here
            },
            body: `loan_id=${loanId}` // Adjust according to how your server expects the data
        })
        .then(() => {
            // Reload the page to reflect changes
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
</script>
    
{% endblock %}
{% endblock %}
