{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block links %}
<link rel="stylesheet" href="static/css/index.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
{% endblock %}
{% block content %}
<div class="container">
    <div class="login-signup-container">
        <div class="form-container">
            <!-- <form id="login-form" method="post">
                <h2>Log In</h2>
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="signup">Sign up</a></p>
            </form> -->
            <form id="login-form" method="post" action="{{ url_for('login') }}">
                <h2>Log In</h2>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}