{% extends "base.html" %}
{% block title %}Financial Recommendations{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
{% endblock %}
{% block content %}
    <h1>Financial Recommendations</h1>
    <p>Based on your monthly income, we provide personalized savings and spending recommendations to help you manage your finances effectively.</p>

    <form class="form-group" action="{{ url_for('recommendations') }}" method="post">
        <label for="savings_goal">How much of your income would you like to save each month?</label>
        <input type="number" id="savings_goal" name="savings_goal" min="0" max="100" step="1" required>%
        <input class="button" type="submit" value="Get Recommendations">
    </form>
    
    {% if error %}
    <h2>{{ error }}</h2>
    {% else %}
    {% if recommendations %}
    <p>Excluding fixed expenses, you can spend:<br>Daily : <strong>${{ daily }}</strong><br>Monthly : <strong>${{ monthly }}</strong></p>
    {% if total_expected_loan > 0 %}
    <p>You are expected to get <strong>{{ total_expected_loan }}</strong> loan this month as income.<br>Go to the<i><strong> 'Navigation Bar'=>'View Finances'=>'Loans' </strong></i>for more information about loans.</p>
    {% endif %}
    <p></p>
    <section id="recommendations-section">
        <h2>Your Custom Financial Plan</h2>
        <h3>Not Fixed</h3>
        
        <table>
            <tr>
                <th>Expense Category</th>
                <th>Daily</th>
                <th>Monthly</th>
                
            </tr>
            {% for category, amount in recommendations.items() %}
            <tr>
                <td>{{ category.capitalize() }}</td>
                <td>${{ "{:0.2f}".format(amount) }}</td>
                <td>${{ "{:0.2f}".format(amount*30) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>${{ "{:0.2f}".format(daily) }}</strong></td>
                <td><strong>${{ "{:0.2f}".format(monthly) }}</strong></td>
            </tr>
        </table>

        <h3>Fixed</h3>
        <table>
            <tr>
                <th>Expense Category</th>
                <th>Monthly</th>
            </tr>
            {% for category, amount in fixed_expenses.items() %}
            <tr>
                <td>{{ category.capitalize() }}</td>
                <td>${{ "{:0.2f}".format(amount) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>${{ "{:0.2f}".format(fixed) }}</strong></td>
            </tr>
        </table>
    </section>
    {% endif %}
    {% endif %}
{% endblock %}
