{% extends "base.html" %}
{% block links %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finances.css') }}">
{% endblock %}
{% block content %}
<div class="section-container">
    <div class="section-content">
        <h1>Savings</h1>
        <a style="background-color: rgb(1, 40, 63); padding: 1em; border-radius: 15%; color: white;" href="{{ url_for('add_saving') }}" class="btn btn-primary">Add Saving</a>
        <br><br>
        <h2>Saving Sources</h2>
        
        <table style="width: 80%;">
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            {% for saving in savings %}
            <tr>
                <td>
                    {{ saving.Name|truncate(15, true, '...') }}
                </td>
                <td>
                    {{ saving.Cost }}
                </td>
                <td>
                    <button onclick="editSaving({{ saving.ID }})" class="button-edit">Edit</button>
                    <button onclick="deleteSaving({{ saving.ID }})" class="button-remove">Remove</button>
                </td>
            </tr>
                {% else %}
                    <p><strong>Saving not added</strong></p>
                {% endfor %}
        </table>
        <br><br>
        <p><strong>Total Savings: ${{ total_savings }}</strong></p>
    </div>
    {% if savings_pie_chart_img %}
    <div class="section-chart">
        <img src="data:image/png;base64,{{ savings_pie_chart_img }}" alt="Savings Pie Chart" style="max-width:100%;">
    </div>
    {% endif %}
</div>
<hr>
{% block script %}
<script>
function deleteSaving(outcomeId) {
    if (confirm("Are you sure you want to delete this outcome?")) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Fetch CSRF token from meta tag
        fetch(`/delete_outcome/${outcomeId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken // Include CSRF token in the request headers
            },
            body: `outcome_id=${outcomeId}`
        })
        .then(() => {
            // Reload the page to reflect changes
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
function editSaving(savingID) {
    window.location.href = '/edit_savings/' + savingID;
}
</script>
{% endblock %}
{% endblock %}
