{% extends "base.html" %}
{% block links %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
    <h1>Savings</h1>
    <a href="{{ url_for('add_saving') }}" class="btn btn-primary">Add Saving</a>
    <br><br>
    <h2>Saving Sources</h2>
    <ul>
        {% for saving in savings %}
            <li>{{ saving.Name }}  -  Amount: <strong>{{ saving.Cost }}</strong> <a href="#" onclick="editSaving({{ saving.ID }})">&#160;&#160;&#160;&#160;&#160;Edit</a> | <a href="#" onclick="deleteOutcome({{ saving.ID }})">Delete</a></li>
        {% else %}
            <p>No Saving sources.</p>
        {% endfor %}
    </ul>
    <hr>
{% block script %}
<script>
function deleteOutcome(outcomeId) {
    if (confirm("Are you sure you want to delete this outcome?")) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Fetch CSRF token from meta tag
        fetch(`/delete_outcome/${outcomeId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken // Include CSRF token in the request headers
            },
            body: `outcome_id=${outcomeId}`
        })
        .then(() => {
            // Reload the page to reflect changes
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
function editSaving(savingID) {
    window.location.href = '/edit_savings/' + savingID;
}
</script>
{% endblock %}
{% endblock %}
