{% extends "base.html" %}
{% block content %}
    <h1>Subscriptions</h1>
    <a href="{{ url_for('add_subscription') }}" class="btn btn-primary">Add Subscription</a>
    <br><br>
    <hr>
    <ul>
        {% for subscription in subscriptions %}
        <li>{{ subscription.Name }}  -  Amount: <strong>{{ subscription.Cost }}</strong> <a href="#" onclick="editSubscription({{ subscription.SubscriptionID }})">&#160;&#160;&#160;&#160;&#160;Edit</a> | <a href="#" onclick="deleteSubscription({{ subscription.SubscriptionID }})">Delete</a></li>{% else %}
        <p>No Subscriptions.</p>
        {% endfor %}
    </ul>
    <hr>

{% block script %}
<script>
function deleteSubscription(subscriptionId) {
    if (confirm("Are you sure you want to delete this subscription?")) {
        fetch(`/delete_subscription/${subscriptionId}`, {
            method: 'POST',
            // CSRF token needed if CSRF protection is enabled in Flask
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                // 'X-CSRFToken': csrf_token // Uncomment and provide your CSRF token here
            },
            body: `subscription_id=${subscriptionId}` // Adjust according to how your server expects the data
        })
        .then(() => {
            // Reload the page to reflect changes
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
function editSubscription(subscriptionID) {
    window.location.href = '/edit_subscription/' + subscriptionID;
}

</script>
    
{% endblock %}
{% endblock %}
