{% extends "base.html" %}
{% block links %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finances.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transactions.css') }}">
{% endblock %}
{% block content %}
<div class="section-container">
    <div class="section-content">
        <h1>Transactions</h1>
        <a style="background-color: rgb(1, 40, 63); padding: 1em; border-radius: 15%; color: white;" href="{{ url_for('add_transaction') }}" class="btn btn-primary">Add Transaction</a>
        <button style="background-color: green; padding: 1em; border-radius: 15%; color: white; margin-left: 10px; font-size: 1em;" onclick="predictNextMonth()" class="btn btn-success">Predict Next Month</button>
        <div id="predictionResult" style="margin-top: 20px;"></div>
        <br><br>
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.Date.strftime('%Y-%m-%d') }}</td>
                <td>Ft {{ "%.2f"|format(transaction.Amount) }}</td>
                <td>
                    {% if transaction.Category %}
                        {{ transaction.Category }}
                    {% else %}
                        <span>&#9866; &#9866; &#9866;</span>
                    {% endif %}
                </td>
                <td title="{{ transaction.Description or 'No description provided' }}">
                    {% if transaction.Description %}
                        {{ transaction.Description|truncate(20, true, '...') }}
                    {% else %}
                        <span>&#9866; &#9866; &#9866;</span>
                    {% endif %}
                </td>
                <td>
                    <button onclick="editTransaction({{ transaction.TransactionID }})" class="button-edit">Edit</button>
                    <button onclick="removeTransaction({{ transaction.TransactionID }})" class="button-remove">Remove</button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No transactions found.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr>
{% block script %}
<script>
    function editTransaction(transactionId) {
        window.location.href = '/edit_transaction/' + transactionId; // Redirect to the edit page
    }
    
    function removeTransaction(transactionId) {
        if (confirm('Are you sure you want to delete this transaction?')) {
            fetch(`/delete_transaction/Ft {transactionId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                }
            }).then(response => {
                if (response.ok) {
                    window.location.reload(); // Reload the page to reflect the changes
                } else {
                    alert('Failed to delete the transaction.');
                }
            });
        }
    }
    function predictNextMonth() {
        document.getElementById('predictionResult').innerHTML = 'Calculating prediction...';
        fetch('/predict_next_month', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                const prediction = parseFloat(data.prediction).toFixed(2);
                const totalIncome = parseFloat(data.total_income).toFixed(2);
                let message = `Prediction for next month: Ft ${prediction}`;
                
                if (prediction < 0) {
                    message = "According to the AI calculations, in next month you will spend a negative amount of money. This can be caused by insufficient data, which decreases calculation results, or you have been spending less and less each month, which means your spending habits are really good.";
                } else if(prediction > totalIncome){
                    message += `. If you continue spending like this, you will spend more than your total income, which is Ft ${totalIncome}.`;
                }
                document.getElementById('predictionResult').innerHTML = message;
                
            } else {
                document.getElementById('predictionResult').innerHTML = 'Error: ' + data.message;
            }
        });
    }
</script>    
{% endblock %}
{% endblock %}
