{% extends "base.html" %}
{% block title %}View Finances{% endblock %}
{% block links %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
{% endblock %}
{% block content %}
    <h1>Financial Overview</h1>
    
    <section>
        <h2>Income</h2>
        <table>
            <!-- Table Headers -->
            <tr>
                <th>Salary/Wages</th>
                <th>Bonuses/Commissions</th>
                <th>Passive Income</th>
                <th>Business Income</th>
                <th>Investment Income</th>
                <th>Others</th>
                <!-- Add other income headers -->
            </tr>
            <!-- Income Data Rows -->
            {% for income in incomes %}
            <tr>
                <td>{{ income.SalaryWages }}</td>
                <td>{{ income.BonusesCommisions }}</td>
                <td>{{ income.PassiveIncome }}</td>
                <td>{{ income.BusinessIncome }}</td>
                <td>{{ income.InvestmentIncome }}</td>
                <td>{{ income.Other }}</td>
                <!-- Add other income data -->
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <h2>Savings</h2>
        <table>
            <tr>
                <th>Emergency</th>
                <th>Retirement</th>
                <th>Education</th>
                <th>GoalSpecific</th>
                <th>Health</th>
                <th>Others</th>
            </tr>
            {% for saving in savings %}
            <tr>
                <td>{{ saving.Emergency }}</td>
                <td>{{ saving.Retirement }}</td>
                <td>{{ saving.Education }}</td>
                <td>{{ saving.GoalSpecific }}</td>
                <td>{{ saving.Health }}</td>
                <td>{{ saving.Other }}</td>
            </tr>
            {% endfor %}
    </table>
    </section>

    <section>
        <h2>Expenses</h2>
        <table>
            <tr>
                <th>Fixed</th>
                <th>Variable</th>
                <th>Discretionaty</th>
                <th>Annual/Periodic</th>
                <th>Rent/Mortrage</th>
                <th>Utilities</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.Fixed }}</td>
                <td>{{ expense.Variable }}</td>
                <td>{{ expense.Discretionary }}</td>
                <td>{{ expense.AnnualPeriodic }}</td>
                <td>{{ expense.RentMortrage }}</td>
                <td>{{ expense.Utilities }}</td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Insurance</th>
                <th>Groceries</th>
                <th>Transport</th>
                <th>Health Care</th>
                <th>Subscriptions</th>
                <th>Others</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.Insurance }}</td>
                <td>{{ expense.Groceries }}</td>
                <td>{{ expense.Transport }}</td>
                <td>{{ expense.HealthCare }}</td>
                <td>{{ expense.Subscriptions }}</td>                
                <td>{{ expense.Other }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}