{% extends "base.html" %}
{% block title %}View Finances{% endblock %}
{% block links %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_finances.css') }}">
{% endblock %}
{% block content %}
    <h1>Financial Overview</h1>
    
<section class="section-container">
    <div class="graph-container">
        <!-- Placeholder for graph; you'll replace this with your actual graph -->
        <img src="data:image/png;base64,{{ income_graph }}" alt="Income Graph">


    </div>
    <div class="table-container">
        <h2>Income</h2>
        <table>
            <!-- Table Headers -->
            <tr>
                <th>Salary</th>
                <th>Bonuses</th>
                <th>Investment</th>
                <th>Passive</th>
                <th>Others</th>
            </tr>
            <!-- Income Data Rows -->
            {% for income in incomes %}
            <tr>
                <td>{{ income.Salary }}</td>
                <td>{{ income.Bonuses }}</td>
                <td>{{ income.Investment }}</td>
                <td>{{ income.PassiveIncome }}</td>
                <td>{{ income.Other }}</td>
                <!-- Add other income data -->
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
<br>
<hr>
<br>
<section class="section-container">
    <div class="graph-container">
        <img src="data:image/png;base64,{{ saving_graph }}" alt="Saving Graph">
    </div>
    <div class="table-container">
        <h2>Savings</h2>
        <table>
            <tr>
                <th>Emergency</th>
                <th>Retirement</th>
                <th>Education</th>
                <th>GoalSpecific</th>
                <th>Health</th>
                <th>Insurance</th>
                <th>Others</th>
            </tr>
            {% for saving in savings %}
            <tr>
                <td>{{ saving.Emergency }}</td>
                <td>{{ saving.Retirement }}</td>
                <td>{{ saving.Education }}</td>
                <td>{{ saving.GoalSpecific }}</td>
                <td>{{ saving.Health }}</td>
                <td>{{ saving.Insurance }}</td>
                <td>{{ saving.Other }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
<br>
<hr>
<br>
<section class="section-container">
    <div class="graph-container">
        <img src="data:image/png;base64,{{ expenses_graph }}" alt="Expenses Graph">
    </div>
    <div class="table-container">
        <h2>Expenses</h2>
        <table>
            <tr>
                <th>Rent</th>
                <th>Transport</th>
                <th>Education</th>
                <th>Insurance</th>
                <th>Other</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.Rent }}</td>
                <td>{{ expense.TransportPass }}</td>
                <td>{{ expense.Education }}</td>
                <td>{{ expense.Insurance }}</td>
                <td>{{ expense.Other }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>
</section>


{% block script %}    
{% endblock %}
{% endblock %}