{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_subscription.css') | timestamp }}">
{% endblock %}
{% block content %}
    <h1>Add New Saving</h1>
    <form method="post" action="{{ url_for('finance.add_saving') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.cost.label }}<br>
            {{ form.cost(min="0") }}<br>
            {% for error in form.cost.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <button type="submit">Add Saving</button>
    </form>
{% endblock %}
