{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_subscription.css') | timestamp }}">
{% endblock %}
{% block content %}
    <h1>Edit Income</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.cost.label }}<br>
            {{ form.cost(class="form-control") }}<br>
            {% for error in form.cost.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.day.label }}<br>
            {{ form.day(class="form-control") }}<br>
            {% for error in form.day.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        
        <button type="submit" class="btn btn-primary">Update Income</button>
    </form>
{% endblock %}
