{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finances.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transactions.css') }}">
{% endblock %}
{% block content %}
<h1>Loans Overview</h1>
<a style="background-color: rgb(1, 40, 63); padding: 1em; border-radius: 15%; color: white;"  href="{{ url_for('loans.add_loan') }}" class="btn btn-primary">Add Loan</a>
<div class="section-container">
    <div class="section-content">
        <br><br>
        <h2>Borrowed Loans</h2>
        <table style="width: 80%;">
            <tr>
                <th>Addressant</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            {% for loan in borrowed_loans %}
            <tr>
                <td>
                    {{ loan.LenderName|truncate(15, true, '...') }}
                </td>
                <td>
                    Ft {{ loan.LoanAmount }}
                </td>
                <td>
                    <button onclick="editLoan({{ loan.LoanID }})" class="button-edit">Edit</button>
                    <button onclick="deleteLoan({{ loan.LoanID }})" class="button-remove">Remove</button>
                </td>
            </tr>
                {% else %}
                    <p><strong>No borrowed loans</strong></p>
                {% endfor %}
        </table>
        <br><br>
        <p><strong>Total Borrowed Loans: Ft {{ total_borrowed_loans }}</strong></p>
    </div>
    {% if borrowed_loans_pie_chart_img %}
    <div class="section-chart">
        <img src="data:image/png;base64,{{ borrowed_loans_pie_chart_img }}" alt="Borrowed Loans Pie Chart" style="max-width:100%;">
    </div>
    {% endif %}
</div>
<br>
<hr>
<br><br>
<div class="section-container">
    <div class="section-content">
        <h2>Lent Loans</h2>
        <table style="width: 80%;">
            <tr>
                <th>Addressant</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            {% for loan in lent_loans %}
            <tr>
                <td>
                    {{ loan.LenderName|truncate(15, true, '...') }}
                </td>
                <td>
                    Ft {{ loan.LoanAmount }}
                </td>
                <td>
                    <button onclick="editLoan({{ loan.LoanID }})" class="button-edit">Edit</button>
                    <button onclick="deleteLoan({{ loan.LoanID }})" class="button-remove">Remove</button>
                </td>
            </tr>
                {% else %}
                    <p><strong>No borrowed loans</strong></p>
                {% endfor %}
        </table>
        <br><br>
        <p><strong>Total Borrowed Loans: Ft {{ total_lent_loans }}</strong></p>
    </div>
    {% if lent_loans_pie_chart_img %}
    <div class="section-chart">
        <img src="data:image/png;base64,{{ lent_loans_pie_chart_img }}" alt="Lent Loans Pie Chart" style="max-width:100%;">
    </div>
    {% endif %}
</div>
{% block script %}
<script>
function deleteLoan(loanId) {
    if (confirm("Are you sure you want to delete this loan?")) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Fetch CSRF token from meta tag
        fetch(`/delete_loan/${loanId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken // Include CSRF token in the request headers
            },
            body: `loan_id=${loanId}`
        })
        .then(() => {
            // Reload the page to reflect changes
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
function editLoan(loanID) {
    window.location.href = '/edit_loan/' + loanID;
}
</script>
    
{% endblock %}
{% endblock %}
