{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finances.css') | timestamp }}">
{% endblock %}
{% block content %}
<h1>Outcomes</h1>
<a style="background-color: rgb(1, 40, 63); padding: 1em; border-radius: 15%; color: white;" href="{{ url_for('finance.add_outcome') }}" class="btn btn-primary">Add Outcome</a>
<div class="section-container">
    <div class="section-content">
        <br><br>
        <h2>Expenses</h2>
        
        <table style="width: 80%;">
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            {% for outcome in outcomes if outcome.Type == 'Expense'%}
            <tr>
                <td>
                    {{ outcome.Name|truncate(15, true, '...') }}
                </td>
                <td>
                    Ft {{ outcome.Cost }}
                </td>
                <td>
                    <button onclick="editOutcome({{ outcome.ID }})" class="button-edit">Edit</button>
                    <button onclick="deleteOutcome({{ outcome.ID }})" class="button-remove">Remove</button>
                </td>
            </tr>
                {% else %}
                    <p><strong>Outcome not added</strong></p>
                {% endfor %}
        </table>
        <br><br>
        <p><strong>Total Expenses: Ft {{ total_expenses }}</strong></p>
    </div>
    {% if expenses_pie_chart_img %}
    <div class="section-chart">
        <img src="data:image/png;base64,{{ expenses_pie_chart_img }}" alt="Expenses Pie Chart" style="max-width:100%;">
    </div>
    {% endif %}
</div>
<hr>
<br>
<br>
<div class="section-container">
    <div class="section-content">
        <h2>Subscriptions</h2>
        <table style="width: 80%;">
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            {% for outcome in outcomes if outcome.Type == 'Subscription'%}
            <tr>
                <td>
                    {{ outcome.Name|truncate(15, true, '...') }}
                </td>
                <td>
                    Ft {{ outcome.Cost }}
                </td>
                <td>
                    <button onclick="editOutcome({{ outcome.ID }})" class="button-edit">Edit</button>
                    <button onclick="deleteOutcome({{ outcome.ID }})" class="button-remove">Remove</button>
                </td>
            </tr>
                {% else %}
                    <p><strong>Outcome not added</strong></p>
                {% endfor %}
        </table>
        <br><br>
        <p><strong>Total Subscriptions: Ft {{ total_subscriptions }}</strong></p>
    </div>
    {% if subscriptions_pie_chart_img %}
    <div class="section-chart">
        <img src="data:image/png;base64,{{ subscriptions_pie_chart_img }}" alt="Subscriptions Pie Chart" style="max-width:100%;">
    </div>
    {% endif %}
</div>
<hr>
{% block script %}
<script>
function deleteOutcome(outcomeId) {
    if (confirm("Are you sure you want to delete this outcome?")) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Fetch CSRF token from meta tag
        fetch(`/delete_outcome/${outcomeId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken // Include CSRF token in the request headers
            },
            body: `outcome_id=${outcomeId}`
        })
        .then(() => {
            // Reload the page to reflect changes
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
function editOutcome(outcomeID) {
    window.location.href = '/edit_outcome/' + outcomeID;
}

</script>
{% endblock %}
{% endblock %}
