{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') | timestamp }}">
{% endblock %}
{% block content %}
<div class="login-signup-container">
    <div class="form-container">
        <!-- signup form -->
       <form method="POST" action="{{ url_for('auth.signup') }}">
            <h2>Sign Up</h2>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} 
                {{ form.name(class="form-control", size=50) }}
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.last_name.label }} 
                {{ form.last_name(class="form-control", size=50) }}
                {% for error in form.last_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }} 
                {{ form.email(class="form-control", size=50) }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }} 
                {{ form.password(class="form-control", size=50) }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }} 
                {{ form.confirm_password(class="form-control", size=50) }}
                {% for error in form.confirm_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
            </div>
            <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
       </form>
   </div>
</div>
{% endblock %}
